<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.claudio.training.trainingaplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controller.activities.LoginActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activities.MenuActivity"
            android:label="@string/activity_menu_name"
            />
        <activity
            android:name=".controller.activities.SearchClienteActivity"
            android:parentActivityName=".controller.activities.MenuActivity"
            android:label="@string/activity_search_client"
            />
        <activity
            android:name=".controller.activities.ListPedidoActivity"
            android:parentActivityName=".controller.activities.SearchClienteActivity"
            android:label="@string/activity_list_pedido"
            />
        <activity
            android:name=".controller.activities.SearchPedidoActivity"
            android:parentActivityName=".controller.activities.MenuActivity"
            android:label="@string/activity_search_pedido"
            />
        <activity
            android:name=".controller.activities.ListItemPedidoActivity"
            android:parentActivityName=".controller.activities.SearchPedidoActivity"
            android:label="@string/activity_list_item_pedido"
            />
    </application>

</manifest>
